<div class="comment" id="comment-<%=comment.id%>">

  <p class="text"><%= comment.text %></p>

  <div class="signature-block">
    <span class="visible-xs">
      <a href="<%= comment.author.url %>"><%= comment.author.name %></a>
      <br>
    </span>

    <%= render partial: "comments/delete_button", locals:{comment: comment} %>

    <%= render partial: "comments/vote", locals:{comment: comment} %>

    <span class="time"><%= time_ago_in_words(comment.created_at) %> ago</span>

    <span class="hidden-xs">
      <a href="<%= comment.author.url %>"><%= comment.author.name %></a>
      <%= image_tag comment.author.img_url, class: "twitter-pic" %>
    </span>
  </div>
</div>
