<div class="comment" id="comment-<%=comment.id%>">

  <%= image_tag comment.author.img_url, class: "twitter-pic comment-pic" %>

  <div class="comment-body">

    <a href="<%= comment.author.url %>"><%= comment.author.name %></a>
    <span class="time"><%= time_ago_in_words(comment.created_at) %> ago</span>

    <p class="text"><%= comment.text %></p>

    <%= render partial: "comments/vote", locals:{comment: comment} %>

    <%= render partial: "comments/reply_button" %>

    <%= render partial: "comments/delete_button", locals:{comment: comment} %>
    
  </div>

</div>
