<% if comment.author == current_user then %>
  <span class="hidden-xs">
    <input
      type="button"
      data-id="<%= comment.id %>"
      data-url="<%= delete_comment_path %>"
      name="<%= comment.id %>"
      value="Delete"
      class="delete-btn btn btn-default btn-sm"
    >
  </span>
  <span class="visible-xs hidden-sm">
    <input
      type="button"
      data-id="<%= comment.id %>"
      data-url="<%= delete_comment_path %>"
      name="<%= comment.id %>"
      value="x"
      class="delete-btn btn btn-default btn-sm"
    >
  </span>
<% end %>
