
<%
  id = comment.id
  if current_user then
    upvoted = current_user.upvoted?(id)
    downvoted = current_user.downvoted?(id)
  else
    upvoted = false
    downvoted = false
  end

  score = comment.score
  if upvoted then
    base_score = score-1
  elsif downvoted then
    base_score = score+1
  else
    base_score = score
  end
  #TODO Better way? Want to reduce calls to database.
%>
<span class="voting">
<% if current_user %>
  <a
    class="up vote-btn <%= upvoted ? "active" : "" %>"
    rel="nofollow"
    data-url="<%= vote_path %>"
    data-id="<%= id %>"
    data-flag="<%= upvoted ? "unvote" : "upvote" %>"
  ><span class="glyphicon glyphicon-arrow-up"></span></a>
  <a
    class="down vote-btn <%= downvoted ? "active" : "" %>"
    rel="nofollow"
    data-url="<%= vote_path %>"
    data-id="<%= id %>"
    data-flag="<%= downvoted ? "unvote" : "downvote" %>"
  ><span class="glyphicon glyphicon-arrow-down"></span></a>
<% else %>
  <a
    class="up vote-btn"
  ><span class="glyphicon glyphicon-arrow-up"></span></a>
  <a
    class="down vote-btn"
  ><span class="glyphicon glyphicon-arrow-down"></span></a>
<% end %>

  <span
    data-score-upvoted="<%= pluralize(base_score+1, 'point') %>"
    data-score-unvoted="<%= pluralize(base_score, 'point') %>"
    data-score-downvoted="<%= pluralize(base_score-1, 'point') %>"
    class="score"><%= pluralize(score, 'point') %></span>
</span>
