
<div class="row">
  <div class="col-xs-12">
    <h3 class="title"><%= @book.summoner_name  %>'s Yearbook</h3>
    <button type="button" class="btn btn-primary btn-sm update">Update</button>
  </div>
</div>

<%= render partial: "champion_thumbs", locals: {champions: @book.champions} %>

<%= render partial: "comments/comments", locals: {comments: @book.comments} %>

<script>
$(document).ready(function() {
  var updateBook = function(callbacks){
    $.ajax({
      type: "POST",
      url: "<%= update_book_path(params[:summoner_id])%>",
      success: callbacks.success,
      error: callbacks.error
    });
  }

  var generateNewBook = function() {
    console.log("NEW ENTRY");
    $( "button.update").hide();
    $( "button.update").after("<p class='text-center'><span class='glyphicon glyphicon-refresh spinning big'></span></p><p class='text-center'>Generating...</p>");
    updateBook({
      success: function( result ) {
        console.log("Success!");
        location.reload();
      },
      error: function( error ) {
        $( "p.status ").html("An Error Occurred");
        console.log("ERROR");
        $( "button.update").html("Try Again");
        $( "button.update").show();
      }
    });
  };

  $( "button.update" ).on( "click", function(e) {
    console.log("UPDATE CLICKED");
    $( "button.update").addClass("disabled");
    $( "button.update").html("<span class='glyphicon glyphicon-refresh spinning'></span>");
    updateBook({
      success: function( result ) {
        console.log("SUCCESS");
        console.log(result);
        location.reload();
      },
      error: function( error ) {
        console.log("ERROR");
        console.log(error);
        location.reload();
      }
    });
  });

  $( "form.comment-form").submit(function(e) {
    console.log("Submit button clicked");
    e.preventDefault();
    var text = $.trim($('textarea[name=commentText]').val());
    if (!text) {
      console.log("No content");
      return;
    }
    var comment = {
      'text': text,
      'id': <%= @book.id %>
    };
    var data = {
      "comment": comment
    };
    $.ajax({
      type: "POST",
      url: "<%= new_book_comment_path %>",
      data: data,
      dataType: 'script',
      encode: true,
      success: function( result ) {
        console.log("SUCCESS");
        clearForm();
      },
      error: function( error ) {
        console.log("ERROR");
        var message = error.responseText;
        console.log(message);
      }
    });
  });

  $( ".comments-list").on("click", "input.delete-btn", function(e) {
    e.preventDefault();
    console.log("Delete button clicked");
    var result = window.confirm("Are you sure you want to delete this note?");
    if (!result){
      return;
    }
    var commentId = $(e.target)[0].dataset.id;
    var comment = {
      'id': commentId
    };
    var data = {
      "comment": comment
    };
    $.ajax({
      type: "DELETE",
      url: "<%= delete_comment_path %>",
      data: data,
      dataType: 'json',
      encode: true,
      success: function( result ) {
        console.log("SUCCESS");
        removeComment(result);
      },
      error: function( error ) {
        console.log("ERROR");
        var message = error.responseText;
        console.log(message);
      }
    });
  });

  var clearForm = function(){
    $('textarea[name=commentText]').val("");
  };

  var removeComment = function(comment){
    console.log("removing comment");
    $("#comment-"+comment.id).remove();
  };

  var count = <%= @book.champions.count %>;
  if (count === 0) {
    generateNewBook();
  }
});
</script>
