<h2><%= @book.summoner_name  %>'s Yearbook</h2>
<div>
<p class="status"></p>
<button class="update">Update</button>
</div>
<p>
  Here's where stuff will go
</p>
<ul>
  <% @book.champions.each do |champ| %>
  <li>
  <div>
    <img src="<%= champ.static_data.profile_url %>" alt="<%= champ.static_data.name %> <%= champ.champion_id %>">
    <p>Champion: <%= champ.static_data.name %></p>
    <p>Mastery Points: <%= champ.mastery_points %></p>
  </div>
  </li>
  <% end %>
</ul>

<script>
$(document).ready(function() {
  var count = <%= @book.champions.count %>;
  if (count === 0) {
    console.log("NEW ENTRY");
    $( "button.update").hide();
    $( "p.status ").html("Generating Yearbook...");
    updateBook({
      success: function( result ) {
        console.log("Success!");
        location.reload();
      },
      error: function( error ) {
        $( "p.status ").html("An Error Occurred");
        console.log("ERROR");
        $( "button.update").html("Try Again");
        $( "button.update").show();
      }
    });
  }
});

$( "button.update" ).on( "click", function(e) {
  console.log("UPDATE CLICKED");
  $( "button.update").hide();
  $( "p.status ").html("Updating...");
  updateBook({
    success: function( result ) {
      console.log("Success!");
      location.reload();
    },
    error: function( error ) {
      $( "p.status ").html("An Error Occurred");
      $( "button.update").html("Try Again");
      $( "button.update").show();
      console.log("ERROR");
    }
  });
});

var updateBook = function(callbacks){
  var summonerId = <%= params[:summoner_id] %>;
  $.ajax({
    type: "POST",
    url: "/summoner/" + summonerId,
    success: callbacks.success,
    error: callbacks.error
  });
}
</script>
