
<div class="row">
  <div class="col-xs-12">
    <header>
      <h3 class="title"><%= @book.summoner_name  %>'s Yearbook</h3>
      <br class="visible-xs">
      <button
        type="button"
        class="btn btn-primary btn-sm update"
        data-update-url="<%= update_book_path(@book.summoner_id)%>"
      >Update</button>
      <%= render partial: "books/filter_control" %>
    </header>
  </div>
</div>

<div id="champions" data-need-update="<%= @book.champions.count < 1 %>">
  <%= render partial: "champion_thumbs", locals: {champions: @book.champions.where(mastery_level: 5)} %>
</div>

<%= render partial: "comments/comments", locals: {comments: @book.comments.paginate(page: params[:page]), comment_type: "BookComment", type_id: @book.id } %>

<script>
$(function(){
  $("body").addClass("muslin-bg");
})
</script>
