
<div class="row">
  <div class="col-xs-12">
    <header>
      <h3 class="title"><%= @book.summoner_name  %>'s Yearbook</h3>
      <br class="visible-xs">
      <%= render partial: "update_button", locals: {book: @book} %>
      <%= render partial: "filter_control" %>
    </header>
  </div>
</div>

<div id="champions" data-need-update="<%= @book.champions.count < 1 %>">
  <%= render partial: "champion_thumbs", locals: {champions: @book.champions, region: @book.region} %>
</div>


<script>
$(function(){
  $("body").addClass("muslin-bg");
})
</script>
