
<div class="row">
  <div class="col-xs-12">
    <header>
      <h3 class="title"><%= @book.summoner_name  %>'s Yearbook</h3>
      <br class="visible-xs">
      <%= render partial: "books/update_button", locals: {book: @book} %>
      <%= render partial: "books/filter_control" %>
    </header>
  </div>
</div>

<div id="champions" data-need-update="<%= @book.champions.count < 1 %>">
  <%= render partial: "champion_thumbs", locals: {champions: @book.champions.where(mastery_level: 5), region: @book.region} %>
</div>

<%= render partial: "comments/comments", locals: {comments: @book.comments.paginate(page: params[:page]), comment_type: "BookComment", type_id: @book.id } %>


<script>
$(function(){
  $("body").addClass("muslin-bg");
})
</script>
