
<div class="row">
  <div class="col-xs-12">
    <h3><%= @champion.book.summoner_name %>'s <%= @champion.static_data.name  %></h2>
    <div>
      <img
        src="<%= @champion.static_data.splash_url %>"
        alt="<%= @champion.static_data.name %> <%= @champion.champion_id %>"
      >
      <p>Chest Earned?: <%= @champion.chest_earned %></p>
      <p>Mastery Points: <%= @champion.mastery_points %></p>
    </div>
  </div>
</div>

<%= render partial: "comments/comments", locals: {comments: @champion.comments } %>

<script>
$(document).ready(function() {
  $( "form.comment-form").submit(function(e) {
    console.log("Submit button clicked");
    e.preventDefault();
    var text = $('textarea[name=commentText]').val();
    if (!text) {
      console.log("No content");
      return;
    }
    var comment = {
      'text': text,
      'id': <%= @champion.id %>
    };
    var data = {
      "comment": comment
    };
    $.ajax({
      type: "POST",
      url: "<%= new_champion_comment_path %>",
      data: data,
      dataType: 'json',
      encode: true,
      success: function( result ) {
        console.log("SUCCESS");
        clearForm();
        appendComment(result);
      },
      error: function( error ) {
        console.log("ERROR");
        var message = error.responseText;
        console.log(message);
      }
    });
  });

  var clearForm = function(){
    $('textarea[name=commentText]').val("");
  };

  var appendComment = function(comment){
    console.log("appending comment");
    var text = comment.text;
    $(".comments-list").prepend("<li>"+ text + "</li>");
  };
});
</script>
