<!DOCTYPE html>
<html>
<head>
  <title>LOL Yearbook</title>
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= favicon_link_tag %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">LOL Yearbook</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <form
        class="navbar-form navbar-left"
        role="search"
        action="<%= search_path %>"
        method="get"
        accept-charset="UTF-8"
      >
        <div class="input-group">
          <div class="input-group-btn">
            <input
              name="region-button"
              type="button"
              value="NA"
              class="btn btn-default dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
            >
            <input
              name="region"
              type="hidden"
              value="na"
            >
            <ul class="dropdown-menu">
              <li data-region="br" class="region">BR</li>
              <li data-region="eune" class="region">EUNE</li>
              <li data-region="euw" class="region">EUW</li>
              <li data-region="jp" class="region">JP</li>
              <li data-region="kr" class="region">KR</li>
              <li data-region="lan" class="region">LAN</li>
              <li data-region="las" class="region">LAS</li>
              <li data-region="na" class="region">NA</li>
              <li data-region="oce" class="region">OCE</li>
              <li data-region="ru" class="region">RU</li>
              <li data-region="tr" class="region">TR</li>
            </ul>
          </div>
          <input
            class="form-control"
            placeholder="Summoner Name"
            type="text"
            name="summoner_name"
          >
          <span class="input-group-btn">
            <button
              class="btn btn-default"
              type="submit"
            >
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">

        <% if current_user %>
        <li>
          <span class="navbar-text"><%= current_user.name %></span>
          <%= image_tag current_user.img_url, class: "twitter-pic" %>
        </li>
        <li><%= link_to 'Log Out', logout_path, method: :delete %></li>

        <% else %>
        <li><%= link_to 'Log in with Twitter',  '/auth/twitter' %></li>

        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>
</div>

<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
  </div>
</nav> -->

</body>
</html>
