<!DOCTYPE html>
<html>
<head>
  <title>LOL Yearbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">LOL Yearbook</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <form
        class="navbar-form navbar-left"
        role="search"
        action="<%= search_path %>"
        method="get"
        accept-charset="UTF-8"
      >
        <div class="input-group">
          <input
            class="form-control"
            placeholder="Summoner Name"
            type="text"
            name="summoner_name"
          >
          <span class="input-group-btn">
            <button
              class="btn btn-default"
              type="submit"
            >
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">

        <% if current_user %>
        <li>
          <span class="navbar-text"><%= current_user.name %></span>
          <%= image_tag current_user.img_url, class: "twitter-pic" %>
        </li>
        <li><%= link_to 'Log Out', logout_path, method: :delete %></li>

        <% else %>
        <li><%= link_to 'Log in with Twitter', '/auth/twitter' %></li>

        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
